html {
	margin: 0;
	border: 0;

}
.top{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 2%;
}

.top h5 {
	justify-content: flex-start;
}

.margin {
	margin-left: 80%;
}

.mid{
	width: 100%;
	align-content: center;
	margin-left: 35%;
}

.mid h5 {
	margin: 0;
	width: 100%;
	align-content: center;

}

.rounded {
	border-radius: 2%;
	margin: 1%;
}

.image {
	margin-left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
}

.image img {
	height: 250px;
	width: 250px;
	justify-content: center;
}

.stars {
	width: 100%;
	flex-direction: column;
	display:flex;
	justify-content: center;

}

.stars h3 {
	justify-content: center;
}

.btn{
	width: 50%;
}

.main {
	background-color: white;
}

body {
	background-color: #adeeff;
	height: 100%;
}

.boxes {
	width: 100%;
}

.center-img {
	height: 85%;
	width: 35%;
}

.align-center {
	
	flex-direction: column;
	justify-content: center;

}

